{% extends 'base.html' %}
{% block content %}
{% if not globals.started %}
<button class="beautiful" onclick="start();">Start</button>
{% else %}
<div class="game-info" id="game-info">
    <h1>pwt.snackbag.net</h1>
    <div>
        <p>Members: <span id="connections">?</span></p>
        <button style="margin: auto 20px 20px auto" onclick="fetch('/next-page')">Continue</button>
    </div>
</div>
{% endif %}


<script type="text/javascript">
    const gameInfoElement = document.querySelector('#game-info');
    const connectionsElement = document.querySelector('#connections');

    let socket = io();
    socket.on('client_connected', (amount) => {
        connectionsElement.innerText = amount;
    });

    socket.on('client_disconnected', (amount) => {
        connectionsElement.innerText = amount;
    });

    async function start() {
        await fetch('/start?key={{ globals.key }}');
        location.reload();
    }

    async function updateGameData() {

    }

    async function boot() {
        const con = await (await fetch("/gamedata?key={{ globals.key }}")).json();
        connectionsElement.innerText = con['connections'];

        const ticker = setInterval(async () => {
            await updateGameData();
        }, 200);
    }

    {% if globals.started %}
        boot();
    {% endif %}
</script>
{% endblock %}