{% extends 'base.html' %}
{% block content %}
    {% if not globals.started %}
        <button class="beautiful" onclick="start();">Start</button>
    {% else %}
        <div class="game-info" id="game-info">
            <h1>pwt.snackbag.net</h1>
            <div>
                <p>Members: <span id="connections">?</span> - Round <span id="round">?</span>/5</p>
                <button style="margin: auto 20px 20px auto" id="continue">Continue</button>
            </div>
        </div>
        <div class="big" id="timer" style="display: none">0</div>
        <div id="slideImage" style="display: none">
            <img id="slideImageImage">
            <button style="position: absolute; bottom: 20px; right: 20px" id="otherContinue">Continue</button>
        </div>
    {% endif %}


    <script type="text/javascript">
        let socket = io();

        const gameInfoElement = document.querySelector('#game-info');
        const connectionsElement = document.querySelector('#connections');
        const continueButton = document.querySelector("#continue");
        const otherContinueButton = document.querySelector("#otherContinue");
        const timerElement = document.querySelector("#timer");
        const roundInfoElement = document.querySelector("#round");
        const slideImage = document.querySelector("#slideImage");
        const slideImageImage = document.querySelector("#slideImageImage");

        let currentPage = "zero";
        let currentRound = 0;
        let roundProgress = 0;
        let drawTimer = {{ globals.timer_max }};

        async function handleContinueButton() {
            socket.emit("set_already_begun", true);
            if (currentRound === 6) {
                socket.emit("show_podium");
                return;
            }

            if (roundProgress === 0) {
                socket.emit('set_page', `slide-${currentRound}`);
                slideImageImage.src = `/static/slides/${currentRound}.png`;
                roundProgress = 1;
            } else if (roundProgress === 1) {
                socket.emit('set_page', "draw");
                roundProgress = 2;
            } else if (roundProgress === 2) {
                socket.emit('request_drawings');
                socket.emit('set_page', "rating");
                roundProgress = 3;
            } else {
                await fetch("/next_round");
                await freshData();
                socket.emit('set_page', "zero");
                roundProgress = 0;
            }
        }

        otherContinueButton.addEventListener("click", async (event) => {
            await handleContinueButton();
        });

        continueButton.addEventListener("click", async (event) => {
            await handleContinueButton();
        });

        socket.on('show_podium', () => {
            {#socket.emit('set_page', "podium");#}
        });

        socket.on('client_connected', (amount) => {
            connectionsElement.innerText = amount;
        });

        socket.on('client_disconnected', (data) => {
            connectionsElement.innerText = data['amount'];
        });

        socket.on('set_page', (page) => {
            currentPage = page;

            if (page.startsWith("slide-")) {
                gameInfoElement.style.display = "none";
                timerElement.style.display = "none";
                slideImage.style.display = null;
            } else if (page === "draw") {
                gameInfoElement.style.display = "none";
                timerElement.style.display = null;
                slideImage.style.display = "none";

                setTimeout(() => {
                    socket.emit('request_drawing');
                    socket.emit('set_page', 'zero');
                }, {{ globals.timer_max * 1000 }});
            } else {
                gameInfoElement.style.display = null;
                timerElement.style.display = "none";
                slideImage.style.display = "none";
            }
        });

        async function start() {
            await fetch('/start?key={{ globals.key }}');
            location.reload();
        }

        async function updateGameData() {
            if (currentPage !== "draw") {
                drawTimer = {{ globals.timer_max }};
                return;
            }

            drawTimer -= 0.2;

            if (drawTimer < 0) {
                drawTimer = {{ globals.timer_max }};
                return;
            }

            if (drawTimer < {{ globals.timer_warn }}) {
                timerElement.style.animation = 'shake 0.05s infinite'
            } else {
                timerElement.style.animation = null;
            }

            timerElement.innerText = parseInt(Math.ceil(drawTimer));
        }

        async function freshData() {
            const con = await (await fetch("/gamedata?key={{ globals.key }}")).json();
            roundInfoElement.innerText = con['round'] + 1;
            currentRound = con['round'] + 1;
        }

        async function boot() {
            const con = await (await fetch("/gamedata?key={{ globals.key }}")).json();
            connectionsElement.innerText = con['connections'];
            await freshData();

            const ticker = setInterval(async () => {
                await updateGameData();
            }, 200);
        }

        {% if globals.started %}
            boot();
        {% endif %}
    </script>
{% endblock %}