<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paint with Tears</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>

    <link rel="preload" href="/static/slides/1.png" as="image">
    <link rel="preload" href="/static/slides/2.png" as="image">
    <link rel="preload" href="/static/slides/3.png" as="image">
    <link rel="preload" href="/static/slides/4.png" as="image">
    <link rel="preload" href="/static/slides/5.png" as="image">

    <link rel="preload" href="/static/answer/1.png" as="image">
    <link rel="preload" href="/static/answer/2.png" as="image">
    <link rel="preload" href="/static/answer/3.png" as="image">
    <link rel="preload" href="/static/answer/4.png" as="image">
    <link rel="preload" href="/static/answer/5.png" as="image">
</head>
<body>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>