{% extends 'base.html' %}
{% block content %}
<h1>You're in!</h1>
<p>Please wait for further instructions</p>

<script type="text/javascript">
    let socket = io();

    socket.on('connect_error', (error) => {
        alert("An unknown error occurred while trying to connect to the server. Please log in again or start a new game.");
        window.location.replace("/");
    });

    socket.on('connect_timeout', (timeout) => {
        alert("Your connection timed out. Please log in again or start a new game.");
        window.location.replace("/");
    });

    socket.on('reconnect_failed', (error) => {
        alert("An unknown error occurred while trying to REconnect to the server. Please log in again or start a new game.");
        window.location.replace("/");
    });

    socket.on('next_page', () => {
        alert("next page")
    });

    async function boot() {
        const ticker = setInterval(async () => {
            await updateGame();
        }, 200);
    }

    async function updateGame() {

    }

    boot();
</script>
{% endblock %}