{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>MONITOR</h1>
        <p>Connections: <span id="connections">?</span></p>

        <div id="clients">

        </div>
    </div>

    <script type="text/javascript">
        let socket = io();
        const connectionsElement = document.querySelector('#connections');
        const clientsElement = document.querySelector('#clients');

        socket.on('client_connected', (amount) => {
            connectionsElement.innerText = amount;
        });

        socket.on('identify', (data) => {
            let clientElement = document.createElement('p');
            clientElement.id = "client-" + data['username'];
            clientElement.innerText = data['username'];
            clientElement.addEventListener('click', async (event) => {
                socket.emit('kick', data['username']);
            });
            clientsElement.append(clientElement);
        });

        socket.on('client_disconnected', (data) => {
            connectionsElement.innerText = data['amount'];
            document.getElementById('client-' + data['username']).remove();
        });
    </script>
{% endblock %}