{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>MONITOR</h1>
        <p>Connections: <span id="connections">?</span></p>

        <div id="clients">

        </div>

        <div id="ratingSectionImages" style="flex-direction: column; position: absolute; top: 500px;"></div>
    </div>

    <script type="text/javascript">
        let socket = io();
        const connectionsElement = document.querySelector('#connections');
        const clientsElement = document.querySelector('#clients');
        const ratingSectionImages = document.querySelector("#ratingSectionImages");

        async function freshData() {
            const resp = await fetch("/gamedata?key={{ globals.key }}");
            const data = await resp.json();

            connectionsElement.innerText = data['connections'];
            clientsElement.innerHTML = "";

            for (let username of data['usernames']) {
                await addClient(username);
            }
        }

        socket.on('rating_data', data => {
            ratingSectionImages.innerHTML = "";

            for (let user of data['users']) {
                ratingSectionImages.innerHTML += `<img draggable=false src='/drawing/${user}?t=${Date.now()}'/><a onclick='kick("${user}")' href='#'><div style='flex-direction: row'>Kick user</a><button>1/3</button><button>2/3</button><button>3/3</button></div><hr/>`
            }
        });

        socket.on('set_page', page => {
            if (page === "draw") {
                ratingSectionImages.innerHTML = "";
            }
        });

        socket.on('client_connected', (amount) => {
            connectionsElement.innerText = amount;
        });

        socket.on('identify', async (data) => {
            await addClient(data['username']);
        });

        async function addClient(username) {
            let clientElement = document.createElement('p');
            clientElement.id = "client-" + username;
            clientElement.innerText = username;
            clientElement.addEventListener('click', async (event) => {
                socket.emit('kick', username);
            });
            clientsElement.append(clientElement);
        }

        socket.on('client_disconnected', (data) => {
            connectionsElement.innerText = data['amount'];
            document.getElementById('client-' + data['username']).remove();
        });

        function kick(username) {
            socket.emit('kick', username);
        }

        freshData();
    </script>
{% endblock %}